/* src/styles/global.css */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;1,500;1,600;1,700&family=Roboto:wght@400;700&display=swap');


@tailwind base;

section {
  @apply py-12 lg:py-16;
}

.container {
  @apply mx-0 w-full h-full  py-0 px-6 sm:px-8 md:px-12 lg:px-14 xl:px-16 2xl:px-20;
}

p {
  @apply text-base md:text-lg text-gray-dark;
}

h1 {
  @apply font-Josefin italic font-semibold pt-2 pb-10 text-white tracking-normal leading-tight text-3xl md:text-4xl lg:text-5xl xl:text-6xl;
}

h2 {
  @apply font-Josefin italic font-semibold md:leading-tight tracking-normal text-blue pb-4  sm:leading-none text-2xl md:text-3xl lg:text-4xl;
}

h3 {
  @apply font-Josefin italic font-semibold text-xl md:text-2xl text-gray-dark py-3;
}

h4 {
@apply font-Josefin font-semibold  text-lg md:text-xl py-4;
}


@tailwind components;

.undertitle {
  @apply font-medium text-white text-lg md:text-xl xl:text-xl;
}

.hero__text {
  @apply text-white font-medium text-lg md:text-xl lg:text-2xl;
}

.overtitle {
  @apply font-normal uppercase text-white text-base md:text-lg;
}

.btn {
  @apply rounded-lg px-4 py-3
       bg-gray text-base md:text-lg font-medium normal-case text-white hover:bg-gray-dark duration-300 hover:-translate-y-0.5 transform transition border flex justify-center items-center focus:outline-none focus:ring;
}

.btn-primary {
  @apply bg-blue text-white hover:bg-blue-dark
         focus:ring-blue active:bg-blue hover:border-white;
}

.btn-secondary {
   @apply bg-white border-blue text-blue hover:bg-blue-dark hover:text-white;
}

.sellingPoint-card {
  @apply w-full px-4 py-6 md:w-72 md:h-60 flex flex-col justify-center items-center text-white bg-black border rounded-lg;
}

.card {
  @apply w-full h-56 lg:h-96 bg-black rounded-lg p-5 md:p-8 md:w-1/2 mb-8 lg:mb-0;
}

.card_testimonial {
  @apply bg-black w-full border-blue rounded-lg p-4 md:p-6 shadow-lg mx-auto;
}

.icon {
  @apply text-pink w-8 h-8 md:h-10 md:w-10 lg:w-12 lg:h-12;
}



@tailwind utilities;

/*
.fadeIn {
  animation: fadeIn 1s ease 0s 1 normal forwards;
}


@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeInLeft {
  animation: fadeInLeft 1s ease 0s 1 normal forwards;
}

@keyframes fadeInLeft {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(100px);
  }
}
*/