---
// Component Imports

import Header from '../components/Header.astro';

// You can import components from any supported Framework here!


// Component Script:



// All variables are available to use in the HTML template below.
let title = 'My Astro Site';


---
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>{title}</title>

    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="stylesheet" type="text/css" href={Astro.resolve('../styles/global.css')} />
</head>
<body>
    <website id="website" class="bg-green-400 w-screen h-full grid grid-cols-1 content-center">
        <header class="w-full h-screen xl:h-5/6 2xl:h-4/5 grid place-items-center">
           <h1>Awesome website title</h1>
           <div class="flex space-x-4">
            <button class="btn btn-primary">Nice button</button>
            <button class="btn btn-secondary">Better button</button>
           </div>
        </header>
    </website>
</body>
</html>
