---
import arrowleft from '../assets/icons/arrowleft.svg';
import arrowright from '../assets/icons/arrowright.svg';
import duo from '../assets/images/duo.jpg';
import helena from '../assets/images/helena.jpg';
import helena_cliente_squats from '../assets/images/helena_cliente_squats.jpg';
import atelier_sport_sante from '../assets/images/atelier_sport_sante.jpg';

---

<carousel class="wrapper w-full max-w-3xl h-48 md:h-96 overflow-x-hidden">
    <input type="radio" name="slider" id="item-1" checked>
    <input type="radio" name="slider" id="item-2">
    <input type="radio" name="slider" id="item-3">
  <div class="slidesWrapper relative h-48 w-full grid grid-cols-1 place-items-center">
    <label class="slide absolute w-4/5 h-48 left-0 right-0 m-auto transition transform ease-out cursor-pointer" for="item-1" id="slide-1">
      <img src={atelier_sport_sante} alt="helena accompagne corrige la position de sa client" class="w-auto h-auto object-contain bg-center rounded-lg">
    </label>
    <label class="slide absolute w-4/5 h-48 left-0 right-0 m-auto transition transform ease-out cursor-pointer" for="item-2" id="slide-2">
      <img src={duo} alt="couple fait du sport" class="w-auto h-auto rounded-lg object-contain bg-center">
    </label>
    <label class="slide absolute w-4/5 h-48 left-0 right-0 m-auto transition transform ease-out cursor-pointer" for="item-3" id="slide-3">
      <img src={helena_cliente_squats} alt="helena corrige la position squat de sa cliente" class="w-auto h-auto rounded-lg object-contain bg-center">
    </label>
  </div>
</carousel>

<style lang="scss">

  input[type=radio] {

    display: none;

  }

  .wrapper {
    transform-style: preserve-3d;
  }


  #item-1:checked ~ .slidesWrapper #slide-3, #item-2:checked ~ .slidesWrapper #slide-1, #item-3:checked ~ .slidesWrapper #slide-2 {
    transform: translatex(-40%) scale(.8);
    opacity: .4;
    z-index: 0;
  }

  #item-1:checked ~ .slidesWrapper #slide-2, #item-2:checked ~ .slidesWrapper #slide-3, #item-3:checked ~ .slidesWrapper #slide-1 {
    transform: translatex(40%) scale(.8);
    opacity: .4;
    z-index: 0;
  }

  #item-1:checked ~ .slidesWrapper #slide-1, #item-2:checked ~ .slidesWrapper #slide-2, #item-3:checked ~ .slidesWrapper #slide-3 {
    transform: translatex(0) scale(1);
    opacity: 1;
    z-index: 1;
  
    img {
      box-shadow: 0px 0px 5px 0px rgba(81, 81, 81, 0.47);
    }
  }

</style>