---
import profil_kamar from '../assets/images/profil_kamar.png';
import profil_lena from '../assets/images/profil_lena.png';
import profil_celine from '../assets/images/profil_celine.jpg';
---

<section class="testimonial py-8 bg-gradient-to-r from-blue to-black">
    <div class="container">
        <div class="w-full h-full flex flex-col items-center lg:flex-row">
            <div class="flex flex-col items-start justify-center w-full h-full pr-8 mb-10 lg:mb-0 md:w-1/2" data-aos="fade-righ">
                <p class="mb-2 text-base font-medium tracking-tight text-pink uppercase">Des clientes satisfaites</p>
                <h2 class="text-white">Témoignages</h2>
                <p class="my-6 text-lg text-white">Quelques mots de mes coachées sur le travail que nous accomplissons ensemble</p>
            </div>
            <div class="w-full space-y-5 md:space-y-6 pb-6 md:w-1/2" data-aos="fade-left">

                <figure class="testimonalCard-extract p-4 md:p-6 bg-black rounded-lg">
                      <div class="space-y-4">
                        <blockquote class="relative">
                          <svg class="quote absolute left-0 w-10 h-10 text-pink fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 125">
                            <path d="M30.7 42c0 6.1 12.6 7 12.6 22 0 11-7.9 19.2-18.9 19.2C12.7 83.1 5 72.6 5 61.5c0-19.2 18-44.6 29.2-44.6 2.8 0 7.9 2 7.9 5.4S30.7 31.6 30.7 42zM82.4 42c0 6.1 12.6 7 12.6 22 0 11-7.9 19.2-18.9 19.2-11.8 0-19.5-10.5-19.5-21.6 0-19.2 18-44.6 29.2-44.6 2.8 0 7.9 2 7.9 5.4S82.4 31.6 82.4 42z"></path>
                          </svg> <br>
                          <p class="pt-2 text-white text-base md:text-lg font-medium line-clamp-3 md:line-clamp-2">
                            Ses connaissances aussi bien en anatomie qu’en physiologie font que Helena n’est pas un simple coach qui a des objectifs personnels à atteindre, non.
                            Elle adapte et tire le meilleur de nous mêmes en nous poussant à nous améliorer même dans nos zones de faiblesse de sorte que les petites fragilités deviennent des forces. Donc un vrai accompagnement personnalisé et attentif.
                          </p>
                        </blockquote>
                        <div class="info flex place-items-center space-x-3">
                          <img class="w-12 h-12 md:w-16 md:h-16 lg:w-20 lg:h-20 rounded-full" src={profil_kamar} alt="Photo de profil de Kamar" width="384" height="512">
                          <figcaption class="font-medium">
                            <div class="text-blue">
                              Kamar
                            </div>
                            <div class="text-white">
                              Médecin
                            </div>
                          </figcaption>
                        </div>
                      </div>
                </figure>
                
                <figure class="testimonalCard-extract p-4 md:p-6 bg-black rounded-lg">
                      <div class="space-y-4">
                        <blockquote class="relative">
                          <svg class="absolute left-0 w-10 h-10 text-pink fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 125">
                            <path d="M30.7 42c0 6.1 12.6 7 12.6 22 0 11-7.9 19.2-18.9 19.2C12.7 83.1 5 72.6 5 61.5c0-19.2 18-44.6 29.2-44.6 2.8 0 7.9 2 7.9 5.4S30.7 31.6 30.7 42zM82.4 42c0 6.1 12.6 7 12.6 22 0 11-7.9 19.2-18.9 19.2-11.8 0-19.5-10.5-19.5-21.6 0-19.2 18-44.6 29.2-44.6 2.8 0 7.9 2 7.9 5.4S82.4 31.6 82.4 42z"></path>
                          </svg> <br>
                          <p class="pt-2 text-white text-base md:text-lg font-medium line-clamp-3 md:line-clamp-2">
                            Un parfait mélange d’écoute de son élève et d’exigence, pour l’entraîner à se dépasser.
                            J’ai débuté les séances de coaching avec Helena il y a un peu plus de 3 mois, pour retrouver de la condition physique.

                            Elle est attentive à mes objectifs et à mes douleurs. Elle sait les comprendre, me les expliquer et proposer des exercices adaptés.
                            Elle m’a aidée à reprendre conscience des différentes parties de mon corps, à ré-utiliser des articulations douloureuses. Le travail de renforcement est ciblé, intensif et adapté à chaque séance.
                            J’ai augmenté ma force musculaire et je me sens mieux dans mon corps.
                          </p>
                        </blockquote>
                        <div class="info flex place-items-center space-x-3">
                          <img class="w-12 h-12 md:w-16 md:h-16 lg:w-20 lg:h-20 rounded-full" src={profil_celine} alt="Photo de profil de Céline" width="384" height="512">
                          <figcaption class="font-medium">
                            <div class="text-blue">
                              Celine
                            </div>
                            <div class="text-white">
                              libraire
                            </div>
                          </figcaption>
                        </div>
                      </div>
                </figure>

                <figure class="testimonalCard-extract p-4 md:p-6 bg-black rounded-lg ">
                      <div class="space-y-4">
                        <blockquote class="relative">
                          <svg class="absolute left-0 w-10 h-10 text-pink fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 125">
                            <path d="M30.7 42c0 6.1 12.6 7 12.6 22 0 11-7.9 19.2-18.9 19.2C12.7 83.1 5 72.6 5 61.5c0-19.2 18-44.6 29.2-44.6 2.8 0 7.9 2 7.9 5.4S30.7 31.6 30.7 42zM82.4 42c0 6.1 12.6 7 12.6 22 0 11-7.9 19.2-18.9 19.2-11.8 0-19.5-10.5-19.5-21.6 0-19.2 18-44.6 29.2-44.6 2.8 0 7.9 2 7.9 5.4S82.4 31.6 82.4 42z"></path>
                          </svg> <br>
                          <p class=" pt-2 text-white text-base md:text-lg font-medium line-clamp-3 md:line-clamp-2">
                            En seulement 4 semaines, je vois déjà des résultats sur mon poids, mais surtout, je redécouvre mon corps et tous ses muscles laissés à l’abandon pendant 2 confinements.
                            Helena est très à l’écoute et regorge de motivation quand vous en manquez.
                          </p>
                        </blockquote>
                        <div class="info flex place-items-center space-x-3">
                          <img class="w-12 h-12 md:w-16 md:h-16 lg:w-20 lg:h-20 rounded-full" src={profil_lena} alt="Photo de profil de Lena" width="384" height="512">
                          <figcaption class="font-medium">
                            <div class="text-blue">
                              Lena
                            </div>
                            <div class="text-white">
                              Designer web
                            </div>
                          </figcaption>
                        </div>
                      </div>
                </figure>
            </div>
        </div>
                
    </div>
</section>