---
import CommonHead from "../components/CommonHead.astro";
import TopNav from '../components/TopNav.vue';
let title = 'Coaching by Helena';
---
<html>
  <head>
    <CommonHead />
  </head>
  <body class="max-w-max">
    <website id="website" class="grid content-center">
      <!-- Adds a navigation bar to every page. -->
      <TopNav />

      <!-- slot: your page content will be injected here. -->
      <slot />
     
      <!-- Footer -->

    </website>
    
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init(
        {
          duration: 1500
        }
      );
    </script>
  </body>

</html>